<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        About the Author
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <p class="lead">
      I fell in love with technology at a young age.  Using my family's first
      computer, it wasn't enough to play games or to see what I could do with
      some software package.  I needed to know how it worked...
      what made it tick... how the pieces fit together.
    </p>
    <p class="lead">
      As I grew older and started a career as a software engineer, my
      curiosity only grew.  That drive to understand the technologies
      I used to perform my job made me a better technologist.  Sometimes,
      though, the road to deeper understanding was painful.  Sometimes the
      documentation is difficult to find, scattered among blog posts or forums.
    </p>
    <p class="lead">
      In my books, I share what I have learned throughout nearly two decades
      as a technology professional.  Each book is a journey that we take
      together, learning while we build and building while we learn.  After
      all, building new tech is fun.  Learning something along the way is a
      bonus.
    </p>
    <p class="lead text-muted pull-right">
      <i class="fa fa-minus"></i> Matthew Warman
    </p>
  </div>
  <div class="col-md-4">
    <img src="assets/app/img/profile-pic-256.jpg" alt="Author Profile Picture" class="img-rounded img-responsive" />
  </div>
</div>
