<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        LeanBooks
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <a href="https://leanpub.com/leanstacks-marionette-spring" title="Lean Application Development featuring Backbone.Marionette.js and the Spring Framework">
      <img src="assets/app/img/cover-marionette-spring.png" alt="Book Cover" class="img-responsive img-thumbnail" />
    </a>
  </div>
  <div class="col-md-6">
    <p>
      <button type="button" class="btn btn-lg btn-default js-leanpub" title="Free Sample">Free Sample</button>
      <button type="button" class="btn btn-lg btn-success pull-right js-leanpub" title="Buy Now">Buy Now</button>
    </p>
    <p class="lead">
      Learn lean application engineering techniques building a single page web
      application and RESTful web services using Backbone.Marionette.js and the
      Spring Framework.  Eliminate wasteful boilerplate code and focus on your
      features.
    </p>
    <hr/>
    <p class="lead">
      This book is a full-stack engineering experience.  Build both
      a single-page application <strong>(SPA)</strong> client-side user interface and
      a complete set of <strong>RESTful web services</strong>.  Begin by rapidly prototyping
      using an in-memory database.  Then learn to integrate with both MySQL and
      MongoDB.
    </p>
    <p class="lead">
      Ready for production?  We've got you covered.  The book dedicates chapters
      to development operations and production operations.  Learn to
      quickly, simply, and reliably build, package, configure, deploy, and
      monitor the applications in production server environments.
    </p>
  </div>
</div>
