<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        LeanBooks
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <a href="https://leanpub.com/leanstacks-marionette-spring" title="Lean Application Development featuring Backbone.Marionette.js and the Spring Framework">
      <img src="assets/app/img/cover-marionette-spring.png" alt="Book Cover" class="img-responsive img-thumbnail" />
    </a>
  </div>
  <div class="col-md-6">
    <p>
      <button type="button" class="btn btn-lg btn-default js-leanpub" title="Free Sample">Free Sample</button>
      <button type="button" class="btn btn-lg btn-success pull-right js-leanpub" title="Buy Now">Buy Now</button>
    </p>
    <p class="lead">
      Learn lean application engineering techniques building a single page web
      application and RESTful web services using Backbone.Marionette.js and the
      Spring Framework.  Eliminate wasteful boilerplate code and focus on your
      features.
    </p>
    <div role="tabpanel">
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#book-overview" class="js-tab" aria-controls="book-overview" role="tab" data-toggle="tab">Overview</a></li>
        <li role="presentation"><a href="#book-toc" class="js-tab" aria-controls="book-toc" role="tab" data-toggle="tab">Table of Contents</a></li>
        <li role="presentation"><a href="#book-technologies" class="js-tab" aria-controls="book-technologies" role="tab" data-toggle="tab">Technologies</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="book-overview">
          <p class="lead">
            This book is a full-stack engineering experience.  Build both
            a single-page application <strong>(SPA)</strong> client-side user interface and
            a complete set of <strong>RESTful web services</strong>.  Begin by rapidly prototyping
            using an in-memory database.  Then learn to integrate with both MySQL and
            MongoDB.
          </p>
          <p class="lead">
            Ready for production?  We've got you covered.  The book dedicates chapters
            to development operations and production operations.  Learn to
            quickly, simply, and reliably build, package, configure, deploy, and
            monitor the applications in production server environments.
          </p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="book-toc">
          <ul class="list-unstyled">
            <li class="toc-part h5">Part I. Introduction</li>
            <ul class="list-unstyled">
              <li class="toc-chapter h6">Paradigm Shift</li>
              <li class="toc-chapter h6">About the Book</li>
              <li class="toc-chapter h6">Intended Audience</li>
              <li class="toc-chapter h6">Git Repositories</li>
            </ul>
          </ul>
          <ul class="list-unstyled">
            <li class="toc-part h5">Part II. Web Services Foundation</li>
            <ul class="list-unstyled">
              <li class="toc-chapter h6">Bootstrap the Web Services Project</li>
              <ul class="list-unstyled">
                <li class="toc-section">A Proper Foundation</li>
                <li class="toc-section">Installing the Dependencies</li>
                <li class="toc-section">Choosing a Source Editor</li>
                <li class="toc-section">Structuring the Project</li>
              </ul>
              <li class="toc-chapter h6">Getting Started with Spring Boot</li>
              <ul class="list-unstyled">
                <li class="toc-section">Updateing the POM</li>
                <li class="toc-section">Application.java</li>
                <li class="toc-section">Starting the Server</li>
              </ul>
              <li class="toc-chapter h6">Building the First RESTful Web Service</li>
              <ul class="list-unstyled">
                <li class="toc-section">Cohesion</li>
                <li class="toc-section">Updating the POM</li>
                <li class="toc-section">Creating the Entity Model</li>
                <li class="toc-section">Creating the Repository</li>
                <li class="toc-section">Creating the Service</li>
                <li class="toc-section">Creating the Controller</li>
                <li class="toc-section">Updating the Application</li>
                <li class="toc-section">Running the Application</li>
              </ul>
            </ul>
          </ul>
          <ul class="list-unstyled">
            <li class="toc-part h5">Part III. User Interface Foundation</li>
            <ul class="list-unstyled">
              <li class="toc-chapter h6">Bootstrap the User Interface Project</li>
              <ul class="list-unstyled">
                <li class="toc-section">Installing the Dependencies</li>
                <li class="toc-section">Choosing a Source Editor</li>
                <li class="toc-section">Structuring the Project</li>
              </ul>
              <li class="toc-chapter h6">Getting Started with Marionette</li>
              <ul class="list-unstyled">
                <li class="toc-section">The Marionette Application</li>
                <li class="toc-section">Marionette Modules</li>
                <li class="toc-section">Displaying Static Content</li>
                <li class="toc-section">Organizing the Application</li>
              </ul>
              <li class="toc-chapter h6">Marionette Messaging</li>
              <ul class="list-unstyled">
                <li class="toc-section">Event Aggregator</li>
                <li class="toc-section">Commands</li>
                <li class="toc-section">Request Response</li>
              </ul>
              <li class="toc-chapter h6">Integrating with Web Services</li>
              <ul class="list-unstyled">
                <li class="toc-section">Creating the Issue Entity</li>
                <li class="toc-section">Creating the Issue Manager Module</li>
                <li class="toc-section">Listing Issues at Startup</li>
                <li class="toc-section">Running the Application</li>
              </ul>
            </ul>
          </ul>
          <ul class="list-unstyled">
            <li class="toc-part h5">Part IV. CRUD</li>
            <ul class="list-unstyled">
              <li class="toc-chapter h6">Creating Issues</li>
              <li class="toc-chapter h6">Viewing Issues</li>
              <li class="toc-chapter h6">Updating Issues</li>
              <li class="toc-chapter h6">Deleting Issues</li>
            </ul>
          </ul>
          <ul class="list-unstyled">
            <li class="toc-part h5">Part V. Production Features</li>
            <ul class="list-unstyled">
              <li class="toc-chapter h6">Development Operations</li>
              <ul class="list-unstyled">
                <li class="toc-section">Web Services</li>
                <li class="toc-section">User Interface</li>
                <li class="toc-section">Deployment Strategies</li>
              </ul>
              <li class="toc-chapter h6">Configuration</li>
              <ul class="list-unstyled">
                <li class="toc-section">Property Files</li>
                <li class="toc-section">Property File Load Order</li>
                <li class="toc-section">Using Profiles with Property Files</li>
                <li class="toc-section">Spring Boot Property Reference</li>
              </ul>
              <li class="toc-chapter h6">Production Databases</li>
              <ul class="list-unstyled">
                <li class="toc-section">Relational Databases</li>
                <li class="toc-section">Integrating with MySQL</li>
                <li class="toc-section">NoSQL Databases</li>
                <li class="toc-section">Integrating with MongoDB</li>
              </ul>
              <li class="toc-chapter h6">Production Monitoring and Management</li>
              <ul class="list-unstyled">
                <li class="toc-section">Introducing Actuator</li>
                <li class="toc-section">Enabling Actuator</li>
                <li class="toc-section">Endpoints</li>
                <li class="toc-section">Configuration</li>
                <li class="toc-section">Health Check</li>
                <li class="toc-section">Application Information</li>
                <li class="toc-section">Metrics</li>
                <li class="toc-section">Tracing</li>
                <li class="toc-section">Conclusions</li>
              </ul>
            </ul>
          </ul>
          <ul class="list-unstyled">
            <li class="toc-part h5">Part VI. Epilogue</li>
          </ul>
          <ul class="list-unstyled">
            <li class="toc-part h5">Part VII. Appendices</li>
            <ul class="list-unstyled">
              <li class="toc-chapter h6">Appendix A: Dependency Versions</li>
              <li class="toc-chapter h6">Appendix B: Iconography</li>
              <li class="toc-chapter h6">Appendix C: CoffeeScript</li>
              <li class="toc-chapter h6">Appendix D: Gulp</li>
            </ul>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="book-technologies">
          <p class="lead">
            The concepts discussed in this book are illustrated through rich
            example projects for both the Single Page Application user interface
            and the RESTful web services.  As you read the book and construct
            the applications, you will become familiar with several technology
            frameworks and programming languages.
          </p>
          <h5>Single Page Application</h5>
          <div class="row">
            <div class="col-md-6">
              <h6>Technologies</h6>
              <ul>
                <li>Backbone.Marionette.js</li>
                <li>Backbone.js</li>
                <li>Underscore.js</li>
                <li>jQuery</li>
                <li>BootStrap</li>
                <li>Grunt</li>
                <li>Gulp<sup>1</sup></li>
              </ul>
            </div>
            <div class="col-md-6">
              <h6>Languages</h6>
              <ul>
                <li>JavaScript</li>
                <li>CoffeeScript<sup>2</sup></li>
                <li>HTML</li>
                <li>CSS</li>
              </ul>
            </div>
          </div>
          <p class="small">
            <sup>1</sup>
            The book illustrates the single page application assembly processes
            using Grunt; however, the same functionality is also authored in
            Gulp for the reader's reference.
          </p>
          <p class="small">
            <sup>2</sup>
            The book illustrates the single page application using JavaScript;
            however, the complete project is also available in CoffeeScript.
          </p>
          <h5>RESTful Web Services</h5>
          <div class="row">
            <div class="col-md-6">
              <h6>Technologies</h6>
              <ul>
                <li>The Spring Framework</li>
                <li>Spring Boot</li>
                <li>Spring Data JPA</li>
                <li>Spring Data MongoDB<sup>1</sup></li>
                <li>Maven</li>
                <li>HSQLDB</li>
                <li>MySQL</li>
                <li>MongoDB<sup>1</sup></li>
              </ul>
            </div>
            <div class="col-md-6">
              <h6>Languages</h6>
              <ul>
                <li>Java</li>
              </ul>
            </div>
          </div>
          <p class="small">
            <sup>1</sup>
            The book illustrates data persistence using the Spring Data JPA
            project; however, a chapter is dedicated to MongoDB persistence and
            the complete project integration with MongoDB is available for
            reference.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
