<div class="row">
  <div class="col-md-6">
    <h3>
      <span class="text-primary">LEAN</span><strong>STACKS</strong><br/>
    </h3>
    <p class="text-muted">
      Lightweight, modern technology tools and instruction.</small>
    </p>
  </div>

  <div class="col-md-6">
    <div class="nav-block pull-right">
      <button type="button" class="btn btn-lg btn-link js-nav" data-nav-target="content:home"><i class="fa fa-fw fa-home"></i> Home</button>
      <button type="button" class="btn btn-lg btn-link js-nav" data-nav-target="content:about"><i class="fa fa-fw fa-info"></i> About</button>
      <button type="button" class="btn btn-lg btn-link js-nav" data-nav-target="content:books"><i class="fa fa-fw fa-book"></i> Books</button>
    </div>
  </div>
</div>
