<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        The Lean Path
        <small>Think big. Move fast. Go lean.</small>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>What is <span class="text-primary">LEAN</span> technology?</h3>
    <p class="lead">
      Lean technology is <strong>lightweight</strong>.  Technologies often
      require a large number of dependencies or significant infrastructure, thus,
      increasing the complexity and cost to install, operate, and maintain.
      Lean technologies minimize the requirements necessary to use them, reducing
      the overhead on your organization.
    </p>
    <p class="lead">
      Lean technology is <strong>modular</strong>.  Many technology products
      begin with a single, focused objective.  They do that one job and
      do it well.  However, to meet customer demand, the product evolves into a
      swiss army knife.  Lean technologies deliver specific, individual capabilities
      with the ability to add or activate additional features in a simple,
      non-disruptive manner.
    </p>
    <p class="lead">
      Lean technology is <strong>low cost</strong>.  There is no such thing as
      <em>free</em> technology.  While it may not appear in your accounting ledger,
      acquiring new technology requires some amount of resources to assimilate into
      your IT ecosystem.  Lean technologies are well documented, offering guides
      for installation and configuration as well as tutorials and examples.
    </p>
  </div>
  <div class="col-md-6">
    <h3><i class="fa fa-fw fa-rss text-warning"></i> In the News</h3>
    <a href="#books" title="Lean Application Development featuring Backbone.Marionette.js and the Spring Framework">
      <img src="assets/app/img/cover-marionette-spring.png" alt="Book Cover" class="img-responsive img-thumbnail thumbnail thumbnail-left" />
    </a>
    <p class="lead">
      The new LeanStacks book, <strong>Lean Application Engineering
      featuring Backbone.Marionette.js and the Spring Framework</strong> is now available
      for preview or purchase on
      <a href="https://leanpub.com/leanstacks-marionette-spring" title="View on LeanPub.com">LeanPub.com</a>.
    </p>
    <p class="lead">
      Learn lean application engineering techniques building a single page web
      application and RESTful web services using Backbone.Marionette.js and the
      Spring Framework.  Eliminate wasteful boilerplate code and focus on your
      features.
    </p>
    <p class="lead pull-right">
      <a href="#books" title="More Information">
        continue reading...
      </a>
    </p>
  </div>
</div>
