<div class="row">

  <div class="col-md-3"> <!-- Begin Sidebar -->
    <nav class="affix">
      <h4><i class="fa fa-video-camera"></i> Topics</h4>
      <ul class="nav nav-sidebar">
        <li><a href="#marionette-analytics">Google Analytics</a></li>
        <li><a href="#spring-boot-series">Spring Boot Series</a></li>
        <li><a href="#top" class="text-muted">Back to Top</a></li>
      </ul>
    </nav>
  </div> <!-- End Sidebar -->

  <div class="col-md-9"> <!-- Begin Main Content -->

    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>
            Media
          </h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <a id="marionette-analytics"></a>
        <h3>Using Google Analytics with Backbone and Marionette Applications <span class="label label-danger">HOT</span></h3>
        <p class="lead">
          Learn how to use Google Analytics JavaScript with a Backbone and Marionette
          application.  Integrate the page tracking events with the application
          router to capture user tracking metadata from your application.
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/ElMT7ChrQ9M" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>Watch it on <a href="https://www.youtube.com/watch?v=ElMT7ChrQ9M&list=UUhCCDds_KM-w02yVn7cQI_Q" target="_blank" title="Watch on YouTube">
              <i class="fa fa-fw fa-youtube-play text-danger"></i> YouTube</a>.
            </h4>
          </div>
          <div class="col-md-6">
            <h4 class="pull-right">View the
              <i class="fa fa-fw fa-github"></i>
              <a href="https://gist.github.com/mwarman/9b6e5fc26678de943824" target="_blank" title="GitHub Gist"><strong>GitHub</strong> Gist</a>.
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="separator"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <a id="spring-boot-series"></a>
        <h3>Spring Boot Fundamentals Video Series <span class="label label-warning">NEW</span></h3>
        <p class="lead">
          Learn to use Spring Boot to construct a RESTful web services application.
          The video series is a work in progress with new videos added every few
          weeks.
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLGDwUiT1wr6-Fn3N2oqJpTdhGjFHnIIKY" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>Watch it on <a href="http://www.youtube.com/playlist?list=PLGDwUiT1wr6-Fn3N2oqJpTdhGjFHnIIKY" target="_blank" title="Watch on YouTube">
              <i class="fa fa-fw fa-youtube-play text-danger"></i> YouTube</a>.
            </h4>
          </div>
          <div class="col-md-6">
            <h4 class="pull-right">View the repository on
              <i class="fa fa-fw fa-github"></i>
              <a href="https://github.com/mwarman/skeleton-ws-spring-boot" target="_blank" title="GitHub Repository">GitHub</a>.
            </h4>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- End Main Content -->

</div>
