body {
  font-size: 15px;
}

.nav-block {
  margin-top: 23px;
}

.nav-block button.active {
  color: #666666;
}

.tab-panel {
  margin-bottom: 20px;
}

.tab-content {
  margin-top: 20px;
}

.embed-responsive {
  margin-bottom: 20px;
}

header h3 {
  margin-bottom: 0px;
}

footer {
  margin-top: 50px;
}

footer div.row:first-child {
  padding-top: 20px;
  border-top: 1px solid #bbbbbb;
}

.link-danger:link,.link-danger:visited {
  color: #bbbbbb;
}
.link-danger:hover {
  color: #e52c23;
}
.link-danger:active {
  color: #e52c23;
}
.link-black:link,.link-black:visited {
  color: #bbbbbb;
}
.link-black:hover {
  color: #000000;
}
.link-danger:active {
  color: #000000;
}

.thumbnail {
  width: 25%;
  height: 25%;
  margin: 5px 10px 10px 5px;
}

.thumbnail-left {
  float: left;
}

.toc-part {

}

.toc-chapter {
  padding-left: 15px;
}

.toc-section {
  padding-left: 30px;
  font-size: 85%;
}
